.mw-ext-note {
	box-shadow: 0 .2em .3em rgba(10, 10, 10, .1), 0 0 0 .1em rgba(10, 10, 10, .1);
	margin: 1em auto;
	max-width: 80%;
	.mw-ext-note {
		&-body {
			display: grid;
			grid-template-columns: 5em 1fr;
		}
		&-icon {
			display: grid;
			align-items: center;
			justify-items: center;
			background: hsla(0, 0%, 0%, .03);
			color: hsl(0, 0%, 86%);
			font-size: 2em;
			padding: .5em;
			div {
				text-align: center;
			}
		}
		&-content {
			padding: 1em;
		}
	}
}
